/* HERO SECTION */
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #111827, #1e293b);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 8%;
  overflow: hidden;
}

/* MAIN CONTAINER */
.hero-section {
  width: 100%;
  max-width: 1300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT SIDE */
.left-section {
  flex: 1;
}

.hero-subtitle {
  color: #38bdf8;
  font-size: 1rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-title {
  font-size: 4rem;
  font-weight: 800;
  color: #ffffff;
  line-height: 1.1;
  margin-bottom: 15px;
}

.hero-mini {
  font-size: 2rem;
  color: #94a3b8;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 1.1rem;
  color: #cbd5e1;
  line-height: 1.8;
  max-width: 600px;
  margin-bottom: 35px;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  padding: 14px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.primary-btn {
  background: #38bdf8;
  color: #0f172a;
}

.primary-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(56, 189, 248, 0.4);
}

.secondary-btn {
  background: transparent;
  border: 2px solid #38bdf8;
  color: #38bdf8;
}

.secondary-btn:hover {
  background: #38bdf8;
  color: #0f172a;
  transform: translateY(-4px);
}

/* RIGHT SIDE */
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HERO IMAGE */
.hero-image {
  width: 420px;
  height: 420px;
  object-fit: cover;

  border-radius: 100%;
  border: 6px solid rgba(56, 189, 248, 0.7);

  box-shadow:
    0 0 30px rgba(56, 189, 248, 0.4),
    0 0 60px rgba(56, 189, 248, 0.2);

  animation: floatImage 4s ease-in-out infinite;
}

/* FLOAT ANIMATION */
@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .hero-section {
    flex-direction: column-reverse;
    text-align: center;
  }

  .hero-description {
    margin: auto;
    margin-bottom: 30px;
  }

  .hero-buttons {
    justify-content: center;
  }

  .hero-title {
    font-size: 3rem;
  }

  .hero-mini {
    font-size: 1.5rem;
  }

  .hero-image {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 600px) {
  .hero {
    padding: 60px 5%;
  }

  .hero-title {
    font-size: 2.3rem;
  }

  .hero-mini {
    font-size: 1.2rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-image {
    width: 240px;
    height: 240px;
  }

  .btn {
    width: 100%;
  }
}